main.chat{
    background-color: #eeeded;
   height: 100vh;
   display: flex;
   flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
}



.chat-user, .resposta-ia{
    width: 80%;
    padding: 20px;
    position: relative;
}

.chat-user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.resposta-ia{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.caixa-chat-user, .caixa-chat-ia{
    width: 50%;
    padding: 15px;
    box-shadow: 0 2px 4px #00000046;
}


.caixa-chat-user{
       background-color: #f7eeea;
    border-radius: 30px 0 30px 30px;
    border: solid 1px #fc4c07;
}

.caixa-chat-ia{
    background-color: #e2e2e2;
    border-radius: 0 30px 30px 30px;
    border: solid 1px #b5b5b5;
}

.area-entrada-chat{
    position: fixed;
    bottom: 40px;
    width: 80%;
 border-radius: 20px;
    padding: 10px ;
    border: solid 1px #ccc;
    box-shadow: 0 2px 4px #00000046;
}

.area-entrada-chat input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    background: transparent;
}

.area-buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.area-buttons button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.4rem;
    color: #ee6307;
    background: transparent;
    border: solid 1px #ee6307;
}

.mascote{
    width: 60px;
    position: absolute;
    top: -50px;
    left: -60px;
   
}

.avatar-user{
    width: 60px;
    position: absolute;
    top: -50px;
    right: -60px;
   
}   







@media (max-width: 1200px){
    .caixa-chat-user, .caixa-chat-ia{
        width: 70%;
    }
}

@media (max-width: 768px){
    .caixa-chat-user, .caixa-chat-ia{
        width: 90%;
    }

    .mascote{
        width: 50px;
        top: -40px;
        left: -40px;
    }
    .avatar-user{
        width: 50px;
        top: -50px;
        right: -40px;
    }
}


@media (max-width: 480px){
    .caixa-chat-user, .caixa-chat-ia{
        width: 100%;
    }

    .mascote{
        width: 40px;
        top: -40px;
        left: -20px;
    }
    .avatar-user{
        width: 40px;
        top: -40px;
        right: -20px;
    }
}