main.chat {
    background-color: #eeeded;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

.caixa-texto.user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.caixa-texto.ia {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.caixa-texto {
    width: 80%;
    padding: 20px;
    position: relative;
    background: transparent !important;
    border: none !important;
    z-index: 1;
}

.mensagem {
    width: 50%;
    padding: 15px;
    box-shadow: 0 2px 4px #00000046;
}

.user {
    background-color: #f7eeea;
    border-radius: 30px 0 30px 30px;
    border: solid 1px #fc4c07;
}

.ia {
    background-color: #e2e2e2;
    border-radius: 0 30px 30px 30px;
    border: solid 1px #b5b5b5;
}

.avatar-ia {
    width: 60px;
    position: absolute;
    top: -50px;
    left: -60px;
}

.avatar-user {
    width: 60px;
    position: absolute;
    top: -50px;
    right: -60px;
}

/* ------------------------------------- */
.loading-overlay{
    display: flex;
    align-items: center;
    width: 350PX;
    position: absolute;
    top: 500px;
    left: 160px;
    gap: 10px;

}

.loading-overlay p{
    color: var(--cor-primaria);
font-size: 1.2rem;
font-weight: 600;
animation:animaTexto 1s alternate infinite;
}

.spinner{
    color: var(--cor-primaria);
    font-size: 2rem;
    animation: spin 1.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animaTexto {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------------- */

@media (max-width: 1200px) {
    .mensagem.user,
    .mensagem.ia {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .mensagem.user,
    .mensagem.ia {
        width: 90%;
    }

    .avatar {
        width: 50px;
        top: -40px;
        left: -40px;
    }
    .avatar-user {
        width: 50px;
        top: -50px;
        right: -40px;
    }
}

@media (max-width: 480px) {
    .mensagem.user,
    .mensagem.ia {
        width: 100%;
    }

    .avatar {
        width: 40px;
        top: -40px;
        left: -20px;
    }
    .avatar-user {
        width: 40px;
        top: -40px;
        right: -20px;
    }
}
