.sections {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}

.hero {
    display: flex;
    width: 100vw;
    height: 50vh;
}
/* 
.circulo {
    background: var(--cor-primaria);
    width: 60vw;
    height: 50vh;
    border-radius: 10% 0 0 80%;
    display: flex;
    align-items: end;
} */

.circulo img {
    width: 400px;
}

.content-left {
    margin-top: 200px;
    width: 50vw;
    height: 500px;
    padding-left: 3%;
}

.content-left h1 {
    font-size: 3rem;
}

.content-left img {
    width: 400px;
    margin-left: 200px;
}

.pratos-entrada {
    width: 100vw;
    margin-top: 10px;
    position: relative;
}

.titulo-secao {
    text-align: center;
}

.cards_card {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    padding: 40px;
    gap: 50px;
    border-top: solid 2px var(--cor-primaria);
}


footer {
    width: 100vw;
    height: 150px;
    background: var(--cor-primaria);
    margin-top: 100px;
}
