.sections{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}

.hero {
    display: flex;
    width: 100vw;
    height: 80vh;
    
}

.circulo {
    background: var(--cor-primaria);
    width: 60vw;
    height: 80vh;
    border-radius: 10% 0 0 60%;
    display: flex;
    align-items: end;
    
}

.content-left {
    margin-top: 200px;
    width: 50vw;
    height: 500px;
    padding-left: 3%;
}

.content-left h1 {
    font-size: 3rem;
}

.content-left img{
    width: 400px;
    margin-left: 200px;
}


.pratos-entrada{
    width: 100vw;
    margin-top: 100px;
    border-top: solid 2px var(--cor-primaria);
 
}

.cards_card{
    width: 100%;
    display: flex;
    padding: 40px;
    gap: 30px;
    justify-content: center;

    
}


footer{
    width: 100vw;
    height: 150px;
    background: var(--cor-primaria);
    margin-top: 100px;
}