.card{
    width: 300px;
    box-shadow: 1px 2px 8px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.img-card{
    width: 100%;
}

.info-card{
    width: 100%;
    padding: 10px;
}

.temp-rend{
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
    color: var(--cor-texto1);
    font-weight: 500;
}

.card a{
    text-decoration: none;
    background: var(--cor-primaria);
    padding: 10px 70px;
    border-radius: 10px;
    color: var(--cor-texto2);
 
}

.div-btn-link{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}