header{
   width: 100%;
   background: #ee6307;
   height: 80px;
   padding: 0 2%;
   position: fixed;
   z-index: 5;
}

nav{
   height: 100%;
   padding: 0 50px ;
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}

.logo-home{
   width: 80px;
   padding-top: 10px;
}


.logo-home img{
   width: 100%;
}


.form-buscar{
   display: flex;
   align-items: center;
   width: 300px;
   height: 35px;
   border-radius: 5px;
   background: #ffff;
   
}

.barra-busca{
   flex: 1;
   height: 100%;
   border: none;
   background: transparent;
   padding: 0 10px;
   font-size: 1rem;
 
}  

.btn-buscar{
   width: 35px;
   height: 100%;
   border: none;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   border-radius: 0 5px 5px 0;
}
