
/* input */
.area-entrada-chat{
    position: fixed;
    bottom: 40px;
    width: 80%;
    border-radius: 20px;
    padding: 10px ;
    border: solid 1px #ccc;
    box-shadow: 0 2px 4px #00000046;
}

.area-entrada-chat input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    background: transparent;
}

.area-buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.area-buttons button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.4rem;
    color: #ee6307;
    background: transparent;
    border: solid 1px #ee6307;
}
